body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    width: 100%;
    display: block;
}
.sidebar {
    width: 200px;
    height: 95%;
    border-radius: 5px;
    border-color: gainsboro;
    border-width: 5px;
    border-style: solid;
    position: fixed!important;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}    
.sidebar > h2 {
    margin-bottom: 100px;
}    
.sidebar > div {
    margin-bottom: 30px;
}    
.sidebar-line {
    width: 100%;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.sidebar-line > input {
    width: 70%;
}
.buttons {            
    padding-left: 0px;
    flex-direction: row;
}
.buttons > button {
    min-width: 70px;
}
.canvas-handler {
    margin-left: 250px;
}